.container {
  margin: 20px auto;
  width: 65%;
  padding: 0px 20px 20px 20px;
  -webkit-box-shadow: -7px 8px 13px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    -7px 8px 13px rgba(50, 50, 50, 0.75);
  box-shadow:         -7px 8px 13px rgba(50, 50, 50, 0.75);
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius:  15px;
  -moz-border-radius-bottomright:     15px;
  -moz-border-radius-bottomleft:      15px;
  border-bottom-right-radius:         15px;
  border-bottom-left-radius:          15px;
}

.choice_name{
  margin-left: 2%;
  line-height: 1.4em;
}

.choices{
  list-style: none;
}

.page_title{
  color: #7B9580;
  text-align: center;
  font-family: Tahoma;
}

.survey_title{
  color: #7B9580;
  font-family: Tahoma;
}

.field_names{
  font-family: Tahoma;
  font-weight: bolder;
  color: #7B9580;
  margin-bottom: -.1em;
}

header{
  /*padding: 1em;*/
  background-color: #7B9580;
}

.homepage_image{
  display: block;
  margin: auto;
  -moz-box-shadow:    0 0 15px #000000;
  -webkit-box-shadow: 0 0 15px #000000;
  box-shadow:         0 0 15px #000000;
}
.welcome_text{
  float: left;
}

header h3{
  margin: auto;
  margin-left: 16%;
  width: 20%;
  display: inline-block;
  color: white;
  line-height: 1.5em;
}

header h3 a{
  text-decoration: none;
  color: white;
}

.small_lizard{
  height: 1em;
}
nav{
  text-align: right;
  float: right;
  width: 40%;
  margin-right: 16%;
  line-height: 1.9em;
  /*display: inline-block;*/
  /*margin: auto;*/
}

nav a{
  margin-left: 4%;
  text-decoration: none;
  color: white;
}
th {
  text-align: left;
}

.live_raptor{
  position:fixed;
  left:0px;
  bottom:0px;
  width:15%;
}
