<form method="Post" action="/users/create">
  <input type="text" name="user[user_name]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="create">
</form>
  