
<h2 class="page_title">Create an Account</h2>
<form method="Post" action="/users/create">
  <div class="field_names">Username</div>
  <input type="text" name="user[user_name]" placeholder="username">
  <div class="field_names">Password</div>
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit" value="create">
</form>
