<h1 class="page_title">Survey Lizard</h1>
<h2 class="page_title">Asking the Important Questions</h2>
<div class="welcome_text">
<p>Welcome to Survay Lizard!</p>
<p>Things to do here:</p>
<ul>
  <li>Create a Survay</li>
  <li>Grow a Beard (slowly)</li>
  <li>Take a Survay</li>
  <li>Logout</li>
</ul>
</div>
<img src="http://localhost:9393/important.jpg" class="homepage_image">


