<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
<header>
    <h3>Survey Lizard</h3>
    
  <nav>
    <a href="/">Home</a>
      <% if current_user %>
      <a href="/logout">Logout</a>
      <a href="/surveys/create/">Create Survey</a>
      <a href="/surveys">Take Survey</a>
      <% else %>
      <a href="/users/create">Create Account</a>
      <a href="/login">Login</a>
      <% end %>

    </nav>
  </header>

  <div class="container">
 
    <%= yield %>
  </div>
  <img src="http://localhost:9393/liveraptor.png" class="live_raptor">
</body>
</html>
