<form method="post" action="/surveys/create/">
  <h3><input type="text" name="survey[title]" placeholder="survey name"></h3>
  <p><input type="text" name="survey[question]" placeholder="your question"></p>
  <p><input type="text" name="survey[choice_1]" placeholder="choice"></p>
  <p><input type="text" name="survey[choice_1]" placeholder="choice"></p>
  <p><input type="submit" value="create survey"></p>
  </form>


<button type="button">add choice</button>  