<form method="post" action="/create-somethinelse">
  <p><input type="text" name="survey[question]" placeholder="your question"></p>
  <p><input type="text" name="survey[choice_1]" placeholder="choice"></p>
  <p><input type="text" name="survey[choice_1]" placeholder="choice"></p>
  <p><input type="submit" value="create survey"></p>
  </form>


<button type="button">add choice</button>  