<form method="post" action="/create-somethinelse">
  <input type="text" name="survey[question]" placeholder="your question">
  <input type="text" name="survey[choice_1]" placeholder="choice">
  <input type="text" name="survey[choice_1]" placeholder="choice">
  <inpyt type="submit" value="create survey">
  </form>


<button type="button">Add Choice</button>  