<h1 class="page_title">Your Survey</h1>

<h3 class="survey_title"><%= @survey.name %></h3>
<ul>
<% @survey.questions.each do |question| %>
  <li><%= question.name %>
  <ul class="choices"><% question.choices.each do |choice| %>
    <li><input type="radio" name="user_response"> <span class="choice_name"><%= choice.name %></span></li>

  <% end %></ul>
  </li>
<% end %>
</ul>

<button>Submit</button>